<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ฟอรัม</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/pages/home_Section.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
    /* CSS */
    .btn_post,
    .reply {
        position: relative;
    }

    .btn_post::after {
        content: '';
        position: absolute;
        bottom: 100%;
        /* จุดเริ่มต้นของลูกศร (เริ่มจากด้านล่างของปุ่ม) */
        left: 50%;
        transform: translateX(-50%);
        /* ย้ายตำแหน่งของลูกศรให้อยู่ตรงกลาง */
        border: solid transparent;
        border-color: transparent;
        border-width: 0.7rem;
        /* ขนาดขอบของลูกศร */
        border-bottom-color: rgba(0, 149, 218, 0.8);
    }

    .reply::after {
        content: 'ตอบกลับโพสต์นี้';
        top: -70px;
        left: 0;
        position: absolute;
        background-color: rgba(99, 99, 99, 0.735);
        color: #fff;
        border-radius: 8px;
        padding: 10px;
        display: none;
    }

    .reply:hover:after {
        display: block;
    }
    .loading-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3d84ff; /* สีของ Spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* การหมุนของ Spinner */
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
.modals {
            transition: opacity 0.25s ease;
        }
        .modal-active {
            overflow-x: hidden;
            overflow-y: visible !important;
        }

</style>

<body class="bg-gray-100">
    <%- include('../navnar_Header') %>
            <section class="pt-20">
                <div class="md:p-1 max-w-screen-md w-full m-auto">
                    <%- include('./pages/sections/addforum_Post') %>

                    <!-- Posts -->
                    <div class="mt-5">
 
                        <!-- เริ่มโพสต์ -->
                        <div id="adsense-ad" class="bg-white px-4 py-8 mt-[50px] mb-[50px] truncate border border-gray-200 h-60 rounded-lg">
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
                            crossorigin="anonymous"></script>
                       <ins class="adsbygoogle"
                            style="display:block"
                            data-ad-format="fluid"
                            data-ad-layout-key="-fb+5w+4e-db+86"
                            data-ad-client="ca-pub-6579807593228261"
                            data-ad-slot="8403303192"></ins>
                       <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                       </script>
                        </div>
                        
                        <%- include('./pages/sections/forumtext_Section') %> 

                        <div class="bg-white px-4 py-8 mt-[50px] mb-[50px] truncate border border-gray-200 rounded-lg">
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
                            crossorigin="anonymous"></script>
                        <ins class="adsbygoogle"
                            style="display:block"
                            data-ad-format="fluid"
                            data-ad-layout-key="-6n+ep+14-70+a6"
                            data-ad-client="ca-pub-6579807593228261"
                            data-ad-slot="7379578718"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                        </div>
                      
                        <!-- สิ้นสุดโพสต์ -->
                    </div>
                </div>
            </section>            

            <%- include('./pages/popups/reply') %>

            <!-- <script src="https://ani-night.online/js/pages/script_Section.js"></script> -->
            <script src="/js/pages/forum.js"></script>
            <script src="/js/pages/loading_datas.js"></script>
            <script>
                window.onload = function() {
                    const totalforumss = document.querySelectorAll('.forums').length;
            
                    if (totalforumss % 4 === 0) {
                        showGoogleAds();
                    }
                };
            
                function showGoogleAds() {
                    document.getElementById('adsense-ad').style.display = 'block';
                }
        
            </script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var descriptionSpans = document.querySelectorAll('.content-Forums');
        
        descriptionSpans.forEach(function(descriptionSpan) {
            var description = descriptionSpan.textContent.trim();
            var descriptionWithLinks = description.replace(/(https?:\/\/\S+)/g, '<a href="$1" target="_blank" style="color: blue;">$1</a>');
            descriptionSpan.innerHTML = descriptionWithLinks;
        });
    });
</script>

            
</body>

</html>