<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>| AniNight</title>
</head>
<body>
   <h1>Anime Info</h1>
   <% if (animebordData) { %> 
        <% if (animebordData.animeApril && animebordData.animeApril.length > 0) { %>
            <% animebordData.animeApril.forEach(anime => { %>
                <div>
                    <h2><%= anime.nameAnime %></h2>
                    <p><%= anime.start %></p>
                    <!-- แสดงข้อมูลอื่น ๆ ตามที่ต้องการ -->
                </div>
            <% }); %>
        <% } else { %>
            <p style="text-align: center;">ไม่มีข้อมูล AnimeApril สำหรับ AnimeBord นี้</p>
        <% } %>
    <% } else { %>
        <p style="text-align: center;">ไม่มีข้อมูล AnimeBord</p>
    <% } %>
</body>
</html>
