<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (animeData) { %>
        <h2><%= animeData.name %></h2>
        <img src="<%= animeData.poster %>" alt="<%= animeData.name %> Poster">
        <p><%= animeData.dec %></p>
        <!-- เพิ่มรายละเอียดเพิ่มเติมตามที่ต้องการ -->
    <% } else { %>
        <p>No data available</p>
    <% } %>
</body>
</html>