<footer>
    <section class="footer">
        <div class="footer-row">
            <div class="footer-row">
                <div class="logo flex items-center">
                    <a href="/">
                        <img class="w-10" src="/images/logo/logo.png" alt="logo">
                        <p class="pl-[10px]">Ani Night</p>
                    </a>
                </div>
            </div>
            <div class="footer-col">
                <h4>Explore</h4>
                <ul class="links">
                    <li><a href="/acticle">Acticle</a></li>
                    <li><a href="/trending">Trending</a></li>
                    <li><a href="/search">Search</a></li>
                    <li><a href="/source">Source</a></li>
                    
                </ul>
            </div>
            <div class="footer-col">
                <h4>About</h4>
                <ul class="links">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Policy</a></li>
                    <li><a href="/source">Source</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>What's new?</h4>
                <p>
                    Our platform focuses on anime and cartoon news.
                    and a copyrighted viewing channel in Thailand
                </p>
                <div class="icons">
                    <a href="https://www.facebook.com/AninightOffice/">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-x"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-tiktok"></i>
                    </a>
                </div>
            </div>
            <!-- <div class="footer-col">
                <p><i class="fa-solid fa-copyright"></i> <span> COPYRIGHT 2018 - 2024 All rights reserved.</span></p>
            </div> -->
        </div>
    </section>
</footer>