:root {
    --color-base-skyblue: #00a8f4;
    --color-base-red: #dc0000;
    --color-base-deepblue: #003fad;
    --color-base-yellow: #ffea5c;
    --color-base-pink: #ff6463;
    --color-hightlight-yellow: #fff6d5;
    --color-hightlight-red: #ff6463;
    --color-theme-top: #4bceec;
    --color-theme-movieanime: #4bceec;
    --color-theme-reading: #4bceec;
    --color-theme-goods: #ff9ca7;
    --color-theme-game: #52c9a7;
    --color-theme-special: #ffa360;
    --color-theme-fworld: #00a8f4;
    --color-white: #fff;
    --color-black: #000;
    --color-shodow: #ccc;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    height: auto;
    font-family: 'Kanit', sans-serif;
}

.videos {
    position: relative;
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.post-video {
    width: 330px;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    font-family: 'Kanit', sans-serif;
}

#previewVideo {
    margin-top: 20px;
    width: 100%;
}

#progressBarContainer {
    width: 100%;
    background-color: #ddd;
    border-radius: 4px;
    overflow: hidden;
}

#progressBar {
    height: 20px;
    background-color: var(--color-base-skyblue);
    width: 0;
    transition: width 0.4s ease;
}

#succeed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#progressPopup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1000;
    text-align: center;
}

#succeed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    text-align: center;
    align-items: center;
    & button {
        background-color: var(--color-theme-fworld);
        padding: 10px;
    }
}

.mobile {
    display: none;
}

.pc {
    display: block;
}

@media screen and (max-width: 780pc) {
    .pc {
        display: none;
    }

    .mobile {
        display: block;
    }

    .foryous {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
    }

    .firyou {
        background-color: #fff;
        box-shadow: 0 0 0 #ccc;
        border-radius: 8px;
        padding: 10px;
        overflow: hidden;
        flex: 1 1 300px;
        margin: 0 15px;
        display: flex;
        flex-direction: column;
    }
}