

.title_anime {
    border-left: 5px solid #00ffe1;
    background-color: #fff;
    padding: 20px;
}

.search {
    background-color: #eee;
    border-radius: 10px;
}

.search input[type=search] {
    width: 90%;
    border: none;
}

.search button[type=search] {
    width: 10%;
}

.anime_content .anime_brta {
    font-size: 29px;
    font-weight: bold;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
}

.anime_lists {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin-top: 12px;
}

.anime_list {
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.anime_list .anime_item_pic img {
    width: 200px;
    height: auto;
    object-fit: cover;
}

.anime_list .anime_info_text {
    padding-left: 20px;
    word-wrap: break-word; 
}

.anime_list .anime_info_text h2 {
    font-size: 23px;
    font-weight: bold;
    display: flex;
    word-wrap: break-word; 
}

.anime_list .anime_info_text p {
    font-size: 16px;
    font-weight: bold;
}

.anime_list .anime_info_text span {
    font-weight: 400;
}

.anime_list .anime_info_text .btn_info {
    background-color: #1f8cb6;
    padding: 5px;
    width: 100%;
    border-radius: 8px;
    color: #fff;
    margin-bottom: 20px;
}

.anime_list .anime_info_text .btn_bilibili {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    color: #333;
    margin-bottom: 20px;
    & .image img {
        width: 30px;
        border-radius: 50px;
    }
}
.anime_list .anime_info_text .btn_iq {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    color: #333;
    margin-bottom: 20px;
    & .image img {
        width: 30px;
        border-radius: 50px;
    }
}
.anime_list .anime_info_text .btn_yt {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    color: #333;
    margin-bottom: 20px;
    & .image img {
        width: 30px;
        border-radius: 50px;
    }
}
.anime_list .anime_info_text .btn_crunchyroll {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    color: #333;
    margin-bottom: 20px;
    & .image img {
        width: 30px;
        border-radius: 50px;
    }
}

.bilibili:hover {
    background-color: #128dfe;
}
.iq:hover {
    background-color: #00dc5a;
}
.yt:hover {
    background-color: #ff0000;
    color: #fff;
}
.crunchyroll:hover {
    background-color: #f37521;
    color: #fff;
}

.image {
    padding-right: 10px;
}
.anime_list .anime_info_text .btn_web {
    display: flex;
    align-items: center;
    background-color: #0094b2;
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    color: #fff;
    margin-bottom: 20px;
    & .image img {
        width: 30px;
        border-radius: 50px;
    }
}

@media screen and (max-width:1030px) {
    .anime_list .anime_info_text h2 {
        font-size: 14px;
        font-weight: bold;
    }
    .anime_list .anime_info_text p {
        font-size: 12px;
        font-weight: bold;
    }
}

@media screen and (max-width:790px) {
    .anime_lists {
        grid-template-columns: repeat(1,1fr);
    }
    .anime_list {border-bottom: 2px solid #eee;}
    .anime_list .anime_info_text h2 {
        font-size: 21px;
        font-weight: bold;
    }
    .anime_list .anime_info_text p {
        font-size: 17px;
        font-weight: bold;
    }
}

@media screen and (max-width:533px) {
    .anime_list .anime_info_text h2 {
        font-size: 17px;
        font-weight: bold;
    }
    .anime_list .anime_info_text p {
        font-size: 13px;
        font-weight: bold;
    }
}

@media screen and (max-width:480px) {
    .anime_list .anime_info_text h2 {
        font-size: 14px;
        font-weight: bold;
        overflow: hidden;
    }
    .anime_list .anime_info_text p {
        font-size: 12px;
        font-weight: bold;
        overflow: hidden;
    }
    .anime_list .anime_item_pic img {
        width: 130px;
        height: auto;
        object-fit: cover;
    }
}

@media screen and (max-width:480px) {
    .anime_lists {
        display: flex;
        flex-direction: column;
    }
}

.loading-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3d84ff; /* สีของ Spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* การหมุนของ Spinner */
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }