.articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px; 
}


.article {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 20px;
}

.article .pic-article img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.article .views {
    font-size: 14px;
    color: #ccc;
}

.ch {
    display: flex;
    align-items: center;
    padding: 10px;
}

.text_ch {
    display: flex;
    flex-direction: column;
}

.ch-text {
    padding-left: 20px;
}

.ch img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.ch h3 {
    font-size: 17px;
    padding-left: 10px;
    color: #000;
}

.ch p {
    font-size: 10px;
    padding-left: 10px;
    color: #ccc;
}

@media screen and (max-width: 720px) {
    .articles {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px; 
    }
}