.reward-container {
    background: linear-gradient(190deg, rgba(102, 255, 248, 1) 1%, rgba(229, 255, 254, 1) 100%, rgba(27, 255, 226, 1) 100%);
    border-radius: 12px;
    margin-top: 20px;
}

.reward {
    padding: 12px;
}
.alert {
    position: fixed;
    top: 10px;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.55);
    color: #fff;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.reward_code form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reward_code form input[type=text] {
    border: 1px solid #eee;
    border-radius: 8px;
    outline: none;
    width: 100%;
}

.reward_code form button[type=submit] {
    background-color: rgb(0, 204, 255);
    color: #fff;
    border-radius: 8px;
    padding: 10px 12px;
    margin-top: 20px;
}

.banner {
    padding: 10px 12px;
    border-radius: 8px;
    margin-top: 20px;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 1%, rgba(255, 211, 144, 1) 100%, rgb(255, 255, 255) 100%);
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    border-radius: 50%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}