@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    background-color: #fefefe;
}

.popup-content {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 500px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 16px;
}

.popup-row{
    padding: 10px;
    margin: 10px;
}

.popup-content .popup-header {
    background-color: #f6f6f6;
    height: 50px;
    align-items: center;
    border-radius: 16px 16px 0 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 16px;
}

.popup-content .popup-header .btn_close i {
    cursor: pointer;
    font-size: 29px;
    color: #000;
}

.popup-content .btn-next {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.btn-next button {
    width: 100%;
    padding: 10px 12px;
    border: none;
    background-color: #fff200;
    border-radius: 1px;
    & a {
        text-decoration: none;
        color: #000;
        font-size: 19px;
    }
}