.videos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.video {
    background-color: #fff;
    box-shadow: 0 0 0 #ccc;
    border-radius: 8px;
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.pic_phoho {
    position: relative;
    width: 100%;
}

.pic_phoho img {
    width: 100%;
}

.time {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 2px;
    padding: 10px;
}

.text_video h2 {
    font-size: 20px;
    font-weight: 500;
}

.text_video {
    background-color: #eee;
    padding: 6px;
    border-radius: 10px;
    margin-top: 20px;
}

.text_video p {
    font-size: 19px;
    font-weight: 400;
}

@media screen and (max-width: 280px) {
    .profile img {
        width: 50px;
        height: 50px;
    }

    .btn_deit {
        margin-top: 20px;
        font-size: 10px;
    }
    .f_text P {
        font-size: 12px;
    }

    .text_video h2 {
        font-size: 12px;
    }
    .bio {
        font-size: 12px;
    }
    .text_video p {
        font-size: 10px;
    }
}

.loading_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.loading-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3d84ff; /* สีของ Spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* การหมุนของ Spinner */
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }