<!DOCTYPE html>
<html lang="en">
<head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Page not found</title>
</head>
<style>
            body {
                        background-color: rgba(203,108,230);
            }
            .container {
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 100vh;
                        position: fixed;
            }
            .container img {
                        width: 100%;
                        height: 100%;
                        pointer-events: none;
            }
</style>
<body>
            <div class="container">
                        <img src="https://res.cloudinary.com/dvkilsoot/image/upload/v1707293127/PageNotFound_foiomh.svg" alt="">
            </div>
</body>
</html>