<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
</head>
<style>
    .container {
        display: flex;
        justify-content: center;
        height: 100vh;
        align-items: center;
    }
    .content {
        border: 1px solid #eee;
        padding: 20px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
</style>

<body>
    <div class="container">
        <div class="content">
            <h1>404 ;) ไม่พบหน้าที่คุณเรียกใช้</h1>
            <hr style="width: 100%; height: 2px; background-color: #eee; color: #eee; border: none;">
            <p>หน้านั้นอาจจะนำออกแล้วเนื่องจากลิขสิทธิ์</p>
        </div>
    </div>
</body>

</html>