<footer>
    <div class="footer">
        <div class="logo ">
            <a href="/" class="flex items-center">
                <img src="/images/logo/Aninight.png" alt="Logo Ani Night" class="w-10 ">
                <h3 class="text-sm md:text-2xl logo-text">Aninight</h3>
            </a>
        </div>

        <div class="menus">
            <ul class="flex">
                <li class="m-2 text-xs md-text-2xl">
                    <a href="/">
                        หน้าหลัก
                    </a>
                </li>
                <li class="m-2 text-xs md-text-2xl">
                    <a href="/animeboard">
                        บอร์ดอนิเมะ
                    </a>
                </li>
                <li class="m-2 text-xs md-text-2xll">
                    <a href="/login">
                        เข้าสู่ระบบ
                    </a>
                </li>
                <li class="m-2 text-xs md-text-2xll">
                    <a href="/sources">
                        แหล่งที่มา
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="copy-right flex justify-center flex-col">
        <div class="flex justify-center items-center border-b-2 border-indigo-100">
            <p class="m-1"><a href="/privacy" target="_blank" rel="noopener noreferrer">นโยบาลความเป็นส่วนตัว</a></p>
            <p class="m-1"><a href="/sources" target="_blank" rel="noopener noreferrer">แหล่งที่มา</a></p>
        </div>
        <h2>Design By Night</h2>
        © 2024 AniNight
    </div>
</footer>