<footer class="bg-white text-gray-600">
    <div class="container mx-auto px-6 py-8">
        <div class="flex justify-between items-center">
            <div>
                <a href="#" class="text-xl font-bold text-gray-800">ANINIGHT</a>
            </div>
            <div class="flex flex-col text-center md:flex-row">
               <div class="space-x-4">
                <a href="/privacy#about" class="hover:text-gray-800">เกี่ยวกับ</a>
                <!-- <a href="#" class="hover:text-gray-800">Contact</a> -->
                <a href="/privacy" class="hover:text-gray-800">นโยบาลความเป็นส่วนตัว</a>
                <a href="/sources" class="hover:text-gray-800">แหล่งที่มา</a>
                <a href="https://web.facebook.com/AninightOffice/" class="hover:text-gray-800">Facebook</a>
               </div>
            </div>
        </div>
        <div class="flex justify-between items-center mt-6">
            <div>
                <p class="text-sm">© 2024 AniNight.</p>
            </div>
            <div class="space-x-4 flex flex-col md:flex-row">
                <a href="#" class="hover:text-gray-800">
                    <svg class="w-5 h-5 inline-block" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M12 2.163c-5.488 0-9.963 4.475-9.963 9.963s4.475 9.963 9.963 9.963 9.963-4.475 9.963-9.963-4.475-9.963-9.963-9.963zm.116 17.271c-1.651 0-2.988-1.34-2.988-2.988s1.34-2.988 2.988-2.988 2.988 1.34 2.988 2.988-1.34 2.988-2.988 2.988zm3.95-9.446c-.624-.256-1.443-.402-2.178-.432-1.61-.073-3.433-.146-4.674 1.184-.366.394-.619.887-.735 1.399-.096.421-.062.892.116 1.301.21.484.557.897 1.004 1.172.465.284.997.427 1.535.43 1.694.004 3.385-.007 5.075.008 1.005.006 2.03.173 2.953.61.5.24.915.635 1.146 1.15.118.256.206.534.237.82.03.25.037.503.017.754-.073.957-.776 1.736-1.723 1.936-.422.086-.857.099-1.286.038-1.748-.242-3.491-.531-5.236-.8-.89-.137-1.789-.186-2.683-.136-.687.044-1.37.174-2.028.403-.797.277-1.519.761-1.959 1.47-.161.26-.276.544-.34.841-.075.349-.104.71-.086 1.065.058 1.327.659 2.623 1.641 3.472.862.769 1.968 1.298 3.123 1.507 1.204.217 2.438.158 3.635-.155 2.379-.613 4.636-1.719 6.702-3.276 2.028-1.527 3.709-3.551 4.806-5.865.407-.852.735-1.742.971-2.654.184-.699.302-1.417.353-2.143.026-.36.023-.72-.01-1.08-.108-1.115-.459-2.198-1.049-3.154-.852-1.38-2.152-2.348-3.664-2.84z"/>
                    </svg>
                </a>
                <a href="#" class="hover:text-gray-800">
                    <svg class="w-5 h-5 inline-block" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M12 2.163c-5.488 0-9.963 4.475-9.963 9.963s4.475 9.963 9.963 9.963 9.963-4.475 9.963-9.963-4.475-9.963-9.963-9.963zm.116 17.271c-1.651 0-2.988-1.34-2.988-2.988s1.34-2.988 2.988-2.988 2.988 1.34 2.988 2.988-1.34 2.988-2.988 2.988zm3.95-9.446c-.624-.256-1.443-.402-2.178-.432-1.61-.073-3.433-.146-4.674 1.184-.366.394-.619.887-.735 1.399-.096.421-.062.892.116 1.301.21.484.557.897 1.004 1.172.465.284.997.427 1.535.43 1.694.004 3.385-.007 5.075.008 1.005.006 2.03.173 2.953.61.5.24.915.635 1.146 1.15.118.256.206.534.237.82.03.25.037.503.017.754-.073.957-.776 1.736-1.723 1.936-.422.086-.857.099-1.286.038-1.748-.242-3.491-.531-5.236-.8-.89-.137-1.789-.186-2.683-.136-.687.044-1.37.174-2.028.403-.797.277-1.519.761-1.959 1.47-.161.26-.276.544-.34.841-.075.349-.104.71-.086 1.065.058 1.327.659 2.623 1.641 3.472.862.769 1.968 1.298 3.123 1.507 1.204.217 2.438.158 3.635-.155 2.379-.613 4.636-1.719 6.702-3.276 2.028-1.527 3.709-3.551 4.806-5.865.407-.852.735-1.742.971-2.654.184-.699.302-1.417.353-2.143.026-.36.023-.72-.01-1.08-.108-1.115-.459-2.198-1.049-3.154-.852-1.38-2.152-2.348-3.664-2.84z"/>
                    </svg>
                </a>
                <a href="#" class="hover:text-gray-800">
                    <svg class="w-5 h-5 inline-block" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M12 2.163c-5.488 0-9.963 4.475-9.963 9.963s4.475 9.963 9.963 9.963 9.963-4.475 9.963-9.963-4.475-9.963-9.963-9.963zm.116 17.271c-1.651 0-2.988-1.34-2.988-2.988s1.34-2.988 2.988-2.988 2.988 1.34 2.988 2.988-1.34 2.988-2.988 2.988zm3.95-9.446c-.624-.256-1.443-.402-2.178-.432-1.61-.073-3.433-.146-4.674 1.184-.366.394-.619.887-.735 1.399-.096.421-.062.892.116 1.301.21.484.557.897 1.004 1.172.465.284.997.427 1.535.43 1.694.004 3.385-.007 5.075.008 1.005.006 2.03.173 2.953.61.5.24.915.635 1.146 1.15.118.256.206.534.237.82.03.25.037.503.017.754-.073.957-.776 1.736-1.723 1.936-.422.086-.857.099-1.286.038-1.748-.242-3.491-.531-5.236-.8-.89-.137-1.789-.186-2.683-.136-.687.044-1.37.174-2.028.403-.797.277-1.519.761-1.959 1.47-.161.26-.276.544-.34.841-.075.349-.104.71-.086 1.065.058 1.327.659 2.623 1.641 3.472.862.769 1.968 1.298 3.123 1.507 1.204.217 2.438.158 3.635-.155 2.379-.613 4.636-1.719 6.702-3.276 2.028-1.527 3.709-3.551 4.806-5.865.407-.852.735-1.742.971-2.654.184-.699.302-1.417.353-2.143.026-.36.023-.72-.01-1.08-.108-1.115-.459-2.198-1.049-3.154-.852-1.38-2.152-2.348-3.664-2.84z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>

<!-- <footer>
    <div class="footer">
        <div class="logo ">
            <a href="/" class="flex items-center">
                <img src="/images/logo/Aninight.png" alt="Logo Ani Night" class="w-10 ">
                <h3 class="text-sm md:text-2xl logo-text">Aninight</h3>
            </a>
        </div>

        <div class="menus">
            <ul class="flex">
                <li class="m-2 text-xs md-text-2xl">
                    <a href="/">
                        หน้าหลัก
                    </a>
                </li>
                <li class="m-2 text-xs md-text-2xl">
                    <a href="/animeboard">
                        บอร์ดอนิเมะ
                    </a>
                </li>
                <li class="m-2 text-xs md-text-2xll">
                    <a href="/login">
                        เข้าสู่ระบบ
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copy-right flex justify-center flex-col">
        <div class="flex justify-center items-center border-b-2 border-indigo-100">
            <p class="m-1"><a href="/" target="_blank" rel="noopener noreferrer"></a></p>
            <p class="m-1"><a href="/" target="_blank" rel="noopener noreferrer"></a></p>
        </div>
        <h2>Design By Night</h2>
        © 
    </div>
</footer> -->