<footer class="bg-white text-gray-600">
    <div class="mx-auto px-6 py-8">
        <div class="flex justify-between items-center flex-col md:flex-row">
            <div>
                <a href="/" class="text-xl font-bold text-gray-800">ANINIGHT</a>
            </div>
            <div class="flex flex-col md:flex-row justify-center items-center text-center md:pl-2 md:justify-between md:items-center">
                <div class="space-x-4">
                    <a href="/sources" class="hover:text-gray-800">แหล่งที่มา</a>
                    <a href="https://web.facebook.com/AniNightOffice.net/" class="hover:text-gray-800">Facebook Office</a>
                </div>
            </div>
            
        </div>
        <div class="flex justify-center items-center flex-col md:flex-row mt-2 ">
            <div class="gap-4 flex flex-wrap justify-center">
                <a href="/privacy#about" class="text-blue-500 hover:underline">เกี่ยวกับ</a>
                <a href="/privacy#collection" class="text-blue-500 hover:underline">การเก็บรวบรวมข้อมูลส่วนบุคคล</a>
                <a href="/privacy#usage" class="text-blue-500 hover:underline">การใช้ข้อมูลส่วนบุคคล</a>
                <a href="/privacy#disclosure" class="text-blue-500 hover:underline">การเปิดเผยข้อมูลส่วนบุคคล</a>
                <a href="/privacy#storage" class="text-blue-500 hover:underline">การจัดเก็บและรักษาความปลอดภัยข้อมูล</a>
                <a href="/privacy#rights" class="text-blue-500 hover:underline">สิทธิ์ของท่าน</a>
                <a href="/privacy#changes" class="text-blue-500 hover:underline">การเปลี่ยนแปลงนโยบายการคุ้มครองข้อมูลส่วนบุคคล</a>
                <a href="/privacy#contact" class="text-blue-500 hover:underline">ติดต่อเรา</a>
            </div>
            
        </div>
        <div class="flex justify-between items-center mt-6 flex-col md:flex-row">
            <div>
                <p class="text-sm">© 2024 AniNight.</p>
            </div>
            <div class="flex items-center gap-2">
                <a href="#" class="hover:text-gray-800">
                    <img src="/icons/youtube-icon.png" alt="icon" class="w-5 h-5"  style="object-fit: contain; pointer-events: none;">
                </a>
                <a href="https://web.facebook.com/AniNightOffice.net/" class="hover:text-gray-800">
                    <img src="/icons/face-icon.png" alt="icon" class="w-5 h-5" style="object-fit: contain; pointer-events: none;">
                </a>
                <a href="#" class="hover:text-gray-800">
                    <img src="/icons/tiktok-icon.webp" alt="icon" class="w-5 h-5"  style="object-fit: contain; pointer-events: none;">
                </a>
            </div>
        </div>
    </div>
</footer>