<header class="flex items-center justify-between shadow-md p-2 bg-white sticky top-0 z-20">
    <div class="logo ">
        <a href="/" class="flex items-center">
            <img src="/images/logo/Aninight.png" alt="Logo Ani Night" class="w-10 ">
            <h3 class="text-sm md:text-2xl logo-text font-bold font-Poppins">Aninight</h3>
        </a>
    </div>
    <div class="menus">
        <ul class="flex">
            <li class="m-2 text-xs md-text-2xl">
                <a href="/">
                    หน้าหลัก
                </a>
            </li>
            <li class="m-2 text-xs md-text-2xl">
                <a href="/animeboard">
                    บอร์ดอนิเมะ
                </a>
            </li>
            <% if (!usersesstion) { %>
                <li class="m-2 text-xs md-text-2xl">
                    <a href="/login">
                        เข้าสู่ระบบ
                    </a>
                </li>
                <% } %>
            <% if (usersesstion) { %>
                <li class="m-2 text-xs md-text-2xl">
                    <a href="/<%= usersesstion.url %>?tokenlogin=<%= usersesstion.accessToken %>">
                        โปรไฟล์
                    </a>
                </li>
                <% } %>
        </ul>
    </div>
</header>