<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>นโยบาลความเป็นส่วนตัวและเงื่อนไขการใช้งาน</title>
    <link rel="stylesheet" href="/css/pages/home_Section.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <%- include('./navnar_Header') %>
    <%- include('./sidebar_Section') %>
    <section class="content">
        <div class="privacy ">
            <div class="mb-5">
                <h2 class="text-4xl">เกี่ยวกับเรา AniNight</h2>
                <p>อัพเดตเมื่อ 4/04/2024</p>
                <hr class="mt-5 mb-5">
                <p class=" leading-8 font-light pt-5 font-Thongterm">
                    AniNight คือแพลตฟอร์มที่ให้ลงสื่อบันเทิงข่าวสารบทความด้านอนิเมะหรือวัฒนธรรมของญี่ปุ่นหรือด้านบันเทิง <br>
                    เรายังมีบอร์ดอนิเมะที่จะอัพเดตตารางฉายอนิเมะเป็นรายเดือนพร้อมลิ้งค์ช่องทางถูกลิขสิทธิ์ <br>
                
                </p>
                <br>
                <h2 class="text-3xl text-black">นโยบายการคุ้มครองข้อมูลส่วนบุคคล (Privacy Policy)</h2>
                <hr class="mt-4">
                <div class="py-5">
                    <h2 class="text-3xl">ข้อมูลส่วนตัวบนแพลตฟอร์ม</h2>
                    <p class=" leading-8 font-light pt-5 font-Thongterm">
                        เรามีการเก็บข้อมูลส่วนตัวบางส่วนเพื่อเอาไว้สำหรับประมาณผลระบบของเรา อย่างเช่น อีเมล ชื่อผู้ใช้ เบอร์ <br>
                        รุปโปรไฟล์ ฯลฯ 
                        หากคุณไม่ยิมยอมกับนโยบาลของเราคุณสามารถยอกเลิกการสมัครสมาชิกได้เลย
                    </p>
                    <h2 class="text-3xl">เหตุประสงค์ที่มีการเก็บข้อมูลส่วนตัว</h2>
                    <p class="pt-5 leading-8 font-light font-Thongterm ">
                        เรามีวัตถุประสงค์เก็บข้อมูลส่วนตัวเพื่อที่จะนำไปเพิ่มประสิทธิภาพให้กับแพลฟอร์ม <br>
                        หากคุณยิมยอมกับแพลตฟอร์มคุณสามารถสมัครสามชิกเพื่อดำเนินต่อได้ หากคุณไม่ยิมยอมคุณสามารถปิดเว็บแพลตฟอร์มของเราได้เลย
                    </p>
                </div>


                <h2 class="text-4xl">การบริการ</h2>
                <hr class="mt-5 mb-5">
                <p class="pt-5 leading-8 text-3xl font-light font-Thongterm ">
                    ▪ เรามีการบริการด้านเนื้อหาบทความที่ครีเอเตอร์อัพโหลด
                </p>
                <p class="pt-5 leading-8 text-3xl font-light font-Thongterm ">
                    ▪ เรามีฟอรัมที่ให้บริการที่มีการให้เหล่าแฟนๆมาพูดคุณกัน (อยู่ระหว่างพัฒนา)
                </p>
                <p class="pt-5 leading-8 text-3xl font-light font-Thongterm ">
                    ▪ เรามีแถบเนื้อหาประเภทวีดีโอ(อยู่ระหว่างพัฒนา)
                </p>
            </div>
        </div>
    </section>

    <script src="./js/pages/script_Section.js"></script>
</body>
</html>