<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>สำเร็จแล้วนะ</title>
    <link rel="stylesheet" href="/css/pages/success.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
        crossorigin="anonymous"></script>

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <header class="bg-white shadow sticky top-0 z-10"
        style="background-image: url(images/logo/Aninight.png); background-repeat: no-repeat; background-position: center; background-size: contain;">
        <div class="flex items-center justify-between  max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
            <div class="App-logo">
                <a href="/" target="_blank" class="font-bold text-3xl" rel="noopener noreferrer">Ani Night</a>
            </div>

            <div class="App-menusright">
                <ul>
                    <li>
                        <a href="/">กลับหน้าหลัก</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 h-screen relative">
        <div>
            <h2 class="text-center text-2xl font-bold">รหัสโค้ดถูกต้อง !!</h2>
            <div class="mt-5 mb-5">
                <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
                crossorigin="anonymous"></script>
            <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article"
                data-ad-format="fluid" data-ad-client="ca-pub-6579807593228261" data-ad-slot="9280800438"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            </div>
            <div class="mt-10 ">
                <button type="submit"
                    class="bg-green-400 p-2 rounded text-white w-full">
                    <a href="https://gift.truemoney.com/campaign/?v=018f7f406e477d768d15299cca277169deO" target="_blank" rel="noopener noreferrer">เปิดรางวัล</a>
                </button>
            </div>
        </div>
    </div>

<!-- 
    <div id="popup_container" class="popup-container" style="display: none;">
        <div class="popup-content" style="background-image: url(images/logo/Aninight.png); background-repeat: no-repeat; background-position: right; background-size: contain;">
            <span class="box-man"></span>
            <div class="popup-row">
                <div class="ads">
                  
                </div>
                <div class="btn-next">
                    <button>
                        <a href="https://gift.truemoney.com/campaign/?v=018e9a096ede76e3ba81ff9378c8504cf0q">
                            รับรางวัล
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div> -->


    <script>
        const Btn_open = document.getElementById("btn-open"),
            popup_container = document.getElementById("popup_container");
        let Openis = true;

        Btn_open.addEventListener('click', () => {
            if (Openis) {
                popup_container.style.display = 'block';
                Openis = true;
            }
        })
    </script>
</body>

</html>