<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>success สำเร็จแล้วนะ</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Kanit", sans-serif;
        background-color: #ffa807;
    }
    .container {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }

    .main {
        border-radius: 22px;
        min-height: 100vh;
        display: flex;
        justify-content: center;
    }

    .main h2 {
        text-align: center;
        color: #fff;
        font-size: 22px;
        font-weight: bold;
        font-family: "Kanit", sans-serif;
        background-color: #000;
        padding: 10px;
    }
    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #ffa807;
        padding: 20px;
    }
    .box img {
        width: 200px;
        display: flex;
        background-color: #fff;
        border-radius: 20px;
        padding: 10px;
        justify-content: center;
    }

    .box a {
        text-decoration: none;
        color: #fff;
        background-color: #0091ff;
        border-radius: 9px;
        padding: 10px 12px;
        margin-top: 20px;
        text-align: center;
    }

    .popup-content {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 500px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 16px;
}

.btn-next {
    position: absolute;
    bottom: 0;
    left: 0;
}

.btn-next button {
    background-color: none;
    border: none;
}

.btn-next button a {
    width: 100%;
    background-color: #0dff00;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    color: #000;
}
</style>
<body>
    <div class="container">
        <div class="main">
            <div class="box">
                <img src="/images/truemoney-wallet.png" alt="">
                <a href="void:javascript(0)">
                    รับตอนนี้
                </a>
            </div>
        </div>

        <div class="popup-container">
            <div class="popup-content">
                <div class="ads">

                </div>
                <div class="btn-next">
                    <button>
                        <a href="#">
                            รับรางวัล
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>