<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>สำเร็จแล้วนะ</title>
    <link rel="stylesheet" href="/css/pages/success.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
        crossorigin="anonymous"></script>
</head>

<body>

    <div class="App-content">
        <div class="App-header">
            <div class="App-logo">
                Ani Night
            </div>

            <div class="App-menusright">
                <ul>
                    <li>
                        <a href="/">กลับหน้าหลัก</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="App-rewards">
            <h2>รหัสโค้ดถูกต้อง !!</h2>
            <div class="btn-Open">
                <button id="btn-open">เปิดรางวัล</button>
            </div>
        </div>
    </div>


    <div id="popup_container" class="popup-container" style="display: none;">
        <div class="popup-content">
            <div class="popup-row">
                <div class="ads">
                    <script async
                        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
                        crossorigin="anonymous"></script>
                    <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article"
                        data-ad-format="fluid" data-ad-client="ca-pub-6579807593228261" data-ad-slot="9280800438"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <div class="btn-next">
                    <button>
                        <a href="https://gift.truemoney.com/campaign/?v=018e9a096ede76e3ba81ff9378c8504cf0q">
                            รับรางวัล
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <script>
        const Btn_open = document.getElementById("btn-open"),
            popup_container = document.getElementById("popup_container");
        let Openis = true;

        Btn_open.addEventListener('click', () => {
            if (Openis) {
                popup_container.style.display = 'block';
                Openis = true;
            }
        })
    </script>
</body>

</html>