<!-- Posts -->
<div class="max-w-6xl mx-auto mt-8 mb-9 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <!-- Post 1 -->
    <% if (userData && userData.acticles && userData.acticles.length> 0) { %>
        <% userData.acticles.forEach(acticle=> { %>
            <div class="bg-white rounded-lg shadow">
                <a href="/read/<%= acticle.url %>?lang=th">
                    <img class="w-full h-60 object-cover rounded-t-lg" src="/acticles_images/<%= acticle.photo %>"
                        alt="Post Image">
                    <div class="px-6 py-4">
                        <h3 class="text-lg font-bold text-gray-800">
                            <%= acticle.title %>
                        </h3>
                        <p class="text-gray-700 mt-2">
                            <%= acticle.views %> วิว.
                        </p>
                    </div>
                </a>
            </div>
            <% }); %>
                <% } else { %>
                    <p style="text-align: center; color: #000;">ยังไม่มีเนื้อหาบทความที่สร้างครับ.
                    </p>
                    <% } %>

</div>