<div class="homes">
    <h2 class="text-3xl mb-6 mt-5 border-l-4 border-sky-600 px-5 text-gray-600">รางวัล</h2>
    <div class="reward">
        <div class="reward_code">
            <form action="/reward" method="post">
                <input type="text" name="reward_code" id="reward_code" placeholder="ใส่โค้ดเพื่อรับรางวัล">
                <button type="submit">รับรางวัล</button>
            </form>
        </div>
    </div>
</div>