
<div class="bg-white max-w-6xl mx-auto mt-8">
    <div>
      <div class="px-4">
        <h2 class="text-xl font-semibold text-gray-800 mb-4">รางวัล</h2>
        <form action="/reward" method="post">
          <div class="mb-4">
            <label for="rewardAmount" class="block text-sm font-medium text-gray-700">ใส่โค้ด:</label>
            <input type="text" name="reward_code" id="reward_code" placeholder="ใส่โค้ดเพื่อรับรางวัล" class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
          </div>
          <div class="mb-4">
            <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600 transition duration-300">รับรางวัล</button>
          </div>
        </form>
      </div>
    </div>
  </div>