@keyframes countdown {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.countdown-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 0;
    animation: countdown 5s linear;
}

.hero-bg {
    background-size: cover;
    background-position: center;
}

.active {
    opacity: 1;
    z-index: 2;
    transition: opacity 1s;
}

.inactive {
    opacity: 0;
    z-index: 0;
    transition: opacity 1s;
}

.dot {
    cursor: pointer;
}

.dot-active {
    background-color: white;
}

.dot-inactive {
    background-color: gray;
}
