@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.logo-text{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}
.aninime_banner{
    max-width: 700px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
}
.header_list{display: flex;
justify-content: space-between;align-items: center;}
.header_list a{
    background-color: #fff;
    border-radius: 60px;
    padding: 10px;
}
.aninime_content-banner{
    position: relative;
    padding: 10px;
    background-color: rgb(0, 157, 255);
    border-radius: 10px;
    height: 200px;
    color: #fff;
}
.aninime_content-banner h2{
    text-align: center;
    font-size: 29px;
}
.aninime_content-banner a{
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #00b7ff;
    padding: 10px 8px;
    border-radius: 8px;
    margin-bottom: 30px;
}
.itemcard{
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
}
.hover_card {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 10px;
    width: 100%;
    display: none;
    transition: opacity 0.3s ease;
    opacity: 0; 
}

.itemcard:hover .hover_card {
    display: block;
    opacity: 1; 
}
.hover_card p{
    font-size: 12px;
    font-weight: bold;
    & span{
        font-size: 14px;
        font-weight: 500;
    }
}
.itemcard .title-anime{
    padding: 10px;
}
/* .itemcard::before{
    position: absolute;
    content: '';
    background-color: #00b7ff;
    border-radius: 15px;
    transform: rotate(45deg);
    transition: .3s;
    animation: animate 2s linear infinite;
}
.itemcard:hover::before{
    width: 262px;
    height: 400px;
} */
/* @keyframes animate {
    50%{
        filter: hue-rotate(350deg);
    }
} */

@media screen and (max-width: 680px) {
    .aninime_content-banner h2{
        font-size: 16px;
    }
}