:root {
    --color-base-skyblue: #00a8f4;
    --color-base-red: #dc0000;
    --color-base-deepblue: #003fad;
    --color-base-yellow: #ffea5c;
    --color-base-pink: #ff6463;
    --color-hightlight-yellow: #fff6d5;
    --color-hightlight-red: #ff6463;
    --color-theme-top: #4bceec;
    --color-theme-movieanime: #4bceec;
    --color-theme-reading: #4bceec;
    --color-theme-goods: #ff9ca7;
    --color-theme-game: #52c9a7;
    --color-theme-special: #ffa360;
    --color-theme-fworld: #00a8f4;
    --color-white: #fff;
    --color-black: #000;
    --color-shodow: #ccc;
    --color-blue: #0092d5;
}

.Mobile {
    display: none;
}

.player_anime-container {
    display: flex;
    justify-content: space-between;
}

.section-player {
    /* min-height: calc(100vh - 51px); */
    width: 100%;
}

.info {
    width: 50%;
    overflow: auto;
}
.info::-webkit-scrollbar{
    display: none;
}

.more-btn,
.less-btn {
    background-color: #ccc;
    vertical-align: top;
    padding: 5px;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    width: 100px;
}

.full-text {
    margin-bottom: 0;
    line-height: 30px;
    font-weight: 400;
    word-break: break-word;
    transition: all .3s ease-in-out;
    white-space: pre-wrap;
}

.dubvoice-row,
.links-pathfrom {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 10px;
    margin-top: 30px;
}

.dubitem {
    display: flex;
    background-color: #eee;
    border-radius: 16px;
}

.dubitem-left,
.dubitem-right {
    display: flex;
    align-items: center;
}

.dubitem-left {
    flex: 1;
}

.dubitem-right {
    flex: 1;
    justify-content: flex-end;
}


.dubitem-left .dubvoice-pic img {
    width: 100px;
    height: 130px;
    border-radius: 16px;
    object-fit: cover;
}

.dubitem-right .dubvoice-pic img {
    width: 190px;
    height: 130px;
    border-radius: 16px;
    object-fit: cover;
}

.dubvoice-info {
    margin: 12px;
    width: 100%;
}

.dubitem-right .dubvoice-info p {
    margin-bottom: 50px;
}

.comment-box input[type=text] {
    border: none;
    background-color: #eee;
    padding: 12px;
    border-radius: 8px;
    outline: none;
    width: 90%;
}

.custom-input:focus {
    outline: none;
}

.comment-box button[type=submit] {
    width: 100%;
    background-color: #0091f8;
    border-radius: 9px;
    padding: 12px;
    color: #fff;
    margin-top: 20px;
}

.links-pathfrom .item .website {
    align-items: center;
    background: rgb(var(--color-foreground));
    border-radius: 5px;
    color: rgb(var(--color-text));
    display: grid;
    font-size: 1.3rem;
    font-weight: 700;
    gap: 12px;
    grid-template-columns: 24px auto;
    height: 30px;
    line-height: 1.3rem;
    margin-bottom: 10px;
}

.icon-path {
    align-items: center;
    background: rgb(12 101 166);
    border-radius: 3px;
    display: flex;
    height: 24px;
    justify-content: center;
    margin-left: 3px;
    min-width: 0;
    outline: none;
    padding: 6px;
    width: 100%;
}

.icon-bilibili {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 3px;
    width: 100%;
}

.links-pathfrom .item .bilibili {
    background-color: #0091f8;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    font-size: 1.3rem;
    font-weight: 700;
    gap: 12px;
    grid-template-columns: 24px auto;
    line-height: 1.3rem;
    color: #fff;
    margin-bottom: 10px;
}

.links-pathfrom .item .iq {
    background-color: #00f874;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    font-size: 1.3rem;
    font-weight: 700;
    gap: 12px;
    grid-template-columns: 24px auto;
    line-height: 1.3rem;
    color: #fff;
    margin-bottom: 10px;
}

.links-pathfrom .item .yt {
    background-color: #da0700;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    font-size: 1.3rem;
    font-weight: 700;
    gap: 12px;
    grid-template-columns: 24px auto;
    line-height: 1.3rem;
    color: #fff;
    margin-bottom: 10px;
    /* ใช้สำหรับเมื่อยังไม่มีลิ้ง */
    /* opacity: .8; 
    pointer-events: none; */
}

.links-pathfrom .item .Netflix {
    background-color: #be0802;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    font-size: 1.3rem;
    font-weight: 700;
    gap: 12px;
    grid-template-columns: 24px auto;
    line-height: 1.3rem;
    color: #fff;
    margin-bottom: 10px;
    /* ใช้สำหรับเมื่อยังไม่มีลิ้ง */
    /* opacity: .8; 
    pointer-events: none; */
}

.icon-bilibili img {
    width: 50px;
}

.icon {
    opacity: .98;
    min-width: 0;
    outline: none;
    width: 100%;
    color: var(--color-white)
}

.name .language {
    font-size: 1rem;
    opacity: .7;
}

.rating-container {
    display: flex;
    align-items: center;
}


.rating {
    display: inline-block;
}

.rating input {
    display: none;
}

.rating label {
    cursor: pointer;
    width: 30px;
    height: 30px;
    float: right;
}

.rating label:before {
    content: '\2605';
    font-size: 24px;
    display: block;
    margin: 0 auto;
}

.rating input:checked~label:before {
    color: rgb(0, 139, 253);
}

.rating-number {
    margin-left: 10px;
}

/* Loding comments */
.loading_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* HTML: <div class="loader"></div> */
.loader {
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }

.comment-lists {
    position: relative;
    margin: 20px 0;
}

.comment-list__wrap {
    padding: 0;
    margin: 0;
}

.comment-list__wrap__item {
    display: flex;
    margin-bottom: 16px;
}

.comment-list__wrap .comment {
    margin-bottom: 8px;
}

.comment--pc.comment--root .comment__avatar__popper[data-v-a42dab90] {
    width: 60px;
}

.comment[data-v-a42dab90] {
    margin-bottom: 16px;
    display: flex;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.iconprofile-comment a img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.comment__container {
    flex: 1;
    padding-left: 20px;
    overflow: hidden;
}

.comment__user {
    display: flex;
    margin-bottom: 4px;
}

.comment__user .comment__time {
    margin-left: 8px;
    font-size: 12px;
    color: #b1abab;
    display: inline-block;
}

.comment__content .comment-content__text {
    font-size: 19px;
    color: #333;
}

.comment__operate {
    margin-top: 4px;
    transform: translate(-9px);
    display: flex;
    align-items: center;

}

.comment__operate__item {
    margin-right: 14px;
    padding: 8px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #999;
    transition: all .2s;
    cursor: pointer;
}

.alert_container {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.415);
    color: #fff;
    padding: 10px;
    transition: .4s;
    border-radius: 8px;
    text-align: center;
    display: none;
}

.alert_text {
    font-size: 20px;
    font-weight: bold;
}

.fa-thumbs-up,
.fa-flag {
    display: inline-block;
    margin-right: 8px;
    width: 18px;
    font-size: 20px;
    height: 18px;
    color: #333;
}

.pc {
    display: block;
}

@media screen and (max-width: 880px) {
    .player_anime-container {
        flex-direction: column;
    }

    .Mobile {
        display: block;
    }

    .pc {
        display: none;
    }
    .info {
        width: 100%;
    }
}

@media screen and (max-width: 280px) {
    .dubitem {
        flex-direction: column;
    }

    .dubitem-left .dubvoice-pic img {
        width: 100px;
        height: 130px;
        object-fit: cover;
    }

    .dubitem-right .dubvoice-pic img {
        width: 190px;
        height: 130px;
        object-fit: cover;
    }

}