.dubvoice-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 30px;
}

.dubitem {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #eee;
    border-radius: 16px;
}

.dubitem-left {
    width: 100%;
    display: flex;
}

.dubitem-right {
    right: 0;
    display: flex;
}

.dubitem-left .dubvoice-pic img {
    width: 100px;
    height: 130px;
    border-radius: 16px 0 0 16px;
    object-fit: cover;
}

.dubitem-right .dubvoice-pic img {
    width: 190px;
    height: 130px;
    border-radius: 0 16px 16px 0;
    object-fit: cover;
}

.dubvoice-info {
    margin: 12px;
    width: 100%;
}

.dubitem-right .dubvoice-info p {
    margin-bottom: 50px;
}

.comment-box input[type=text] {
    border: none;
    background-color: #eee;
    padding: 12px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.custom-input:focus {
    outline: none;
}

.comment-box button[type=submit] {
    width: 100%;
    background-color: #0091f8;
    border-radius: 9px;
    padding: 12px;
    color: #fff;
    margin-top: 20px;
}

@media screen and (max-width: 280px) {
    .dubitem {
        flex-direction: column;
    }

    .dubitem-left .dubvoice-pic img {
        width: 100px;
        height: 130px;
        object-fit: cover;
    }

    .dubitem-right .dubvoice-pic img {
        width: 190px;
        height: 130px;
        object-fit: cover;
    }

}