<footer>
    <section class="footer">
        <div class="footer-row">
            <div class="footer-row">
                <div class="logo flex items-center">
                    <a href="/">
                        <img class="w-10" src="/images/logo/Aninight.png" alt="logo">
                        <p class="pl-[10px]">Ani Night</p>
                    </a>
                </div>
            </div>
            <div class="footer-col">
                <h4>สำรวจ</h4>
                <ul class="links">
                    <li><a href="/acticle">บทความ</a></li>
                    <li><a href="/trending">ยอดนิยม</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>เกี่ยวกับเรา</h4>
                <ul class="links">
                    <li><a href="/">หน้าหลัก</a></li>
                    <li><a href="/privacy">ความเป็นส่วนตัว</a></li>
                    <li><a href="#">นโยบาย</a></li>
                    <li><a href="/source">แหล่งที่มา</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>มีอะไรใหม่ๆ</h4>
                <p>
                   แพลตฟอร์เราเน้นไปทางข่าวสารอนิเมะและการ์ตูน
                   และช่องทางดูแบบถูกลิขสิทธิ์นะค๊าบบบบบ
                </p>
                <div class="icons">
                    <a href="https://www.facebook.com/AninightOffice/">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-x"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-tiktok"></i>
                    </a>
                </div>
            </div>
            <!-- <div class="footer-col">
                <p><i class="fa-solid fa-copyright"></i> <span> COPYRIGHT 2018 - 2024 All rights reserved.</span></p>
            </div> -->
        </div>
        <p>© 2024 Aninight</p>
    </section>
</footer>