<nav class="bg-white sticky top-[0] z-10">
    <div class="navbarplay p-2 justify-between flex items-center relative">
        <div class="logo flex items-center">
            <div class="md:hidden text-2xl cursor-pointer"><i class="bx bx-menu" id="sidebarOpen"></i></div>
            <a href="/" class="flex items-center">
                <img class="w-10" src="/images/logo/Aninight.png" alt="logo">
                <span>Ani Night</span>
            </a>
        </div>

        <div class="menusplay">
            <ul id="menus_play" class="absolute hidden top-[55px] left-0 w-full bg-white z-1 md:flex md:static" style="transition: .3 all;">
                <li class="m-2 pl-2 hover:text-gray-400">
                    <a href="/">หน้าหลัก</a>
                </li>
                <li class="m-2 pl-2 hover:text-gray-400">
                    <a href="/animeboard">บอร์ดรายการอนิเมะ</a>
                </li>
                <li class="m-2 pl-2 hover:text-gray-400">
                    <a href="/articles">บทความ</a>
                </li>
                <li class="m-2 pl-2 hover:text-gray-400">
                    <a href="/forums">ฟอรัม</a>
                </li>
            </ul>
        </div>
    </div>
</nav>