<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="../../css/acticle.css">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="../css/font/font1.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="./css/font/font1.css">
    <link rel="stylesheet" href="../css/admin/sidebar.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <meta name="keywords" content="บทความอนิเมะ ข่าวบันเท้ง 2024 login เข้าสู่ระบบ">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/df26bd9708.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="login mx-auto px-4 xl:max-w-7xl pt-[130px]" id="login">
        <div class="container-login bg-white px-6 md:px-12 py-8 md:py-12 mt-8 shadow-sm rela">
            <form action="/admin/login" method="POST">
                <h2 class="text-3xl mb-6 border-l-4 border-sky-600 px-5 text-gray-600">เข้าสู่ระบบในนามผู้ดูแลระบบ</h2>
                <label for="username">Username:</label>
                <input type="text" name="username" required>

                <label for="password">รหัสผ่าน:</label>
                <input class="mb-2" type="password" id="password" name="password" required>

                <button class="btn-login" type="submit">เข้าสู่ระบบ</button>
                <a href="/admin/register">เพิ่มผู้ดูแล</a>
            </form>
        </div>
    </section>

    <script src="/js/admins/script.js"></script>
</body>

</html>