<div class="sidebar">
    <div class="logo">
        <a href="/admin/dash">
            <span>Admin</span>
        </a>
    </div>
    <div class="menus">
        <ul>
            <li class="active">
                <a href="/admin/dash">
                    <box-icon type='solid' name='dashboard'></box-icon>
                    <span>ภาพรวม</span>
                </a>
            </li>
            <li>
                <a href="/admin/update_code">
                    <box-icon name='wallet' type='solid' ></box-icon>
                    <span>อัพเดตซอง</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <box-icon name='up-arrow-circle'></box-icon>
                    <span>อัตเดตลิ้ง</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <box-icon name='contact' type='solid' ></box-icon>
                    <span>ติดต่อ</span>
                </a>
            </li>
        </ul>
    </div>
</div>