<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Reward Code</title>
    <link rel="stylesheet" href="../css/admin/Admin_section.css">
    <link rel="stylesheet" href="../css/admin/code.css">
    <link rel="stylesheet" href="../css/admin/sidebar.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="keywords" content="บทความอนิเมะ ข่าวบันเท้ง 2024 login เข้าสู่ระบบ">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/df26bd9708.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('./sidebars/navbar') %>
    <section class="home-section">
       <%- include('./sections/navbar') %>
        <div class="container_form">
            <h2 class="text-3xl mb-6 border-l-4 border-sky-600 px-5 text-gray-600">อัพเดตโค้ดอั่งเปา</h2>
            <div class="content">
                <form action="/reward/update" method="post">
                    <label for="new_code">สร้างโค้ดอั่งเปา:</label>
                    <input type="text" id="new_code" name="new_code" placeholder="ใส่โค้ดอั่งเปาใหม่"><br><br>
                    <button type="submit">ฮัพเดตโค้ด</button>
                </form>
            </div>
        </div>
    </section> 

    <script src="/js/admins/script.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>

</html>