<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Reward Code</title>
    <link rel="stylesheet" href="../css/admin/Admin_section.css">
    <link rel="stylesheet" href="../css/admin/dash.css">
    <link rel="stylesheet" href="../css/admin/code.css">
    <link rel="stylesheet" href="../css/admin/sidebar.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css"
        integrity="sha512-d0olNN35C6VLiulAobxYHZiXJmq+vl+BGIgAxQtD5+kqudro/xNMvv2yIHAciGHpExsIbKX3iLg+0B6d0k4+ZA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/df26bd9708.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('./sidebars/navbar') %>
    <section class="home-section">
        <%- include('./sections/navbar') %>
         <div class="container_form">
             <h2 class="text-3xl mb-6 border-l-4 border-sky-600 px-5 text-gray-600">อัพเดตโค้ดอั่งเปา</h2>
             <div class="content">
                <form action="/reward/update-link-code" method="post">
                    <label for="new_code">link Code:</label>
                    <input type="text" id="linkcode" name="linkcode" placeholder="Enter link code"><br><br>
                    <button type="submit">Update Link Code</button>
                </form>
            </div>
         </div>
     </section> 
 
     <script src="/js/admins/script.js"></script>
</body>

</html>