<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Successful</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/df26bd9708.js" crossorigin="anonymous"></script>
</head>
<body class="bg-gray-100">
    <%- include('../../../navnar_Header') %>
    <%- include('../../../sidebar_Section') %>
    <div class="flex-1 flex flex-col">
        <!-- Main Content -->
        <main class="mx-auto mt-10 p-8 bg-white rounded-lg shadow-lg w-full max-w-lg">
            <div class="text-center">
                <i class="fas fa-check-circle text-green-500 text-6xl"></i>
                <h1 class="text-2xl font-semibold mt-4 text-gray-800">สร้างวีดีโอแล้ว</h1>
                <p class="mt-2 text-gray-600">เราได้สร้างวีดีโอให้คุณแล้ว</p>
                <a href="/" class="mt-6 inline-block px-6 py-3 bg-blue-500 text-white text-lg font-medium rounded-lg shadow hover:bg-blue-600">กลับหน้าหลัก</a>
            </div>
        </main>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>
