<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>อัพโหลดวีดีโอ</title>
    <meta name="keyword" content="วีดีโอข่าวอนิเมะ และตัวอย่าง PV เกี่ยวกับอนิเมะ">
    <meta name="keyword" content="แพลตฟอร์มรวบรวมข่าวและอนิเมะในวงการ และรับค่าตอบแทนจากเนื้อหาของคุณ">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/acticle.css">
    <link rel="stylesheet" href="./css/pages/uploads/video.css">
    <link rel="stylesheet" href="./css/pages/video_player.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/font/font1.css">
    <script src="https://kit.fontawesome.com/df26bd9708.js" crossorigin="anonymous"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
     crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/pages/videos.css"> 
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
    <script type="text/javascript" src="/js/index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
        integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
        integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>
<body>

    <%- include('../../../navnar_Header') %>
    <%- include('../../../sidebar_Section') %>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <section class="flex flex-col md:flex-row gap-4">
        <div class="flex-1 bg-white p-4 rounded shadow-md w-full">
            <h2 class="text-2xl font-bold text-center">อัพโหลดวีดีโอ</h2>
            <form class="max-w-sm mx-auto" id="formUpload" class="w-full" action="/upload/video/main" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="iduser" value="">
                <div class="mb-5">
                    <label for="name_act"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ชื่อวีดีโอ</label>
                    <input type="text" id="namevideo" name="namevideo" value=""
                        class="shadow-sm border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                        required>
                </div>
                <div class="mb-5">
                    <label for="name_act"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">คำอธิบายวีดีโอ</label>
                        <textarea name="dec_video" id="dec_video" cols="30" rows="10" class="shadow-sm border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"></textarea>
                </div>
                <div class="mb-5">
                    <label for="tages"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ใสแท็กเนื้อหาของคุณ</label>
                    <input type="text" id="tags" name="tags"
                        class="shadow-sm border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
                    <span>ไม่ต้องใส่ # นะ ใส่ได้แท้กเดียว</span>
                </div> 
                <div class="mb-5">
                    <label for="countries"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">เลือกหมวดหมู่;</label>
                    <select id="countries" name="categories"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option selected>กดเพื่อเลือก</option>
                        <option value="ข่าวอนิเมะ">ข่าวอนิเมะ</option>
                        <option value="ข่าวสาร">ข่าวสาร</option>
                        <option value="ข่าวหนัง">ข่าวหนัง</option>
                        <option value="สื่อบันเทิง">สื่อบันเทิง</option>
                        <option value="วาไรตี">วาไรตี</option>
                        <option value="ภาพยนต์">ภาพยนต์</option>
                        <option value="เกม">เกม</option>
                    </select>
 
                </div>

                <div class="mb-5">
                    <h2>เลือกวีดีโอ</h2>
                    <div class="flex items-center justify-center w-full">
                        <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                                </svg>
                                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">คลิกที่นี่เพื่ออัพโหลดไฟล์</span> หรือลากไฟล์มาที่นี่</p>
                                <p class="text-xs text-gray-500 dark:text-gray-400">และไฟล์ต้องเป็นรูปแบบ .MP4 .MOV, .AVI เท่านั่น ! <span> ไฟล์ต้องไม่เกิน 1 นาที </span></p>
                            </div>
                            <input id="dropzone-file" type="file" name="file_video"  accept=".mp4" class="hidden" />
                        </label>
                    </div> 
                </div>
                <div class="mb-5">
                    <label for="thumbnailvideo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ปกวีดีโอ</label>
                    <input type="file"
                        class="block w-full mb-5 text-xs text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-b-50 dark:text-gray-400 focus:outline-none dark:bg-blue-400  dark:border-gray-600 dark:placeholder-blue-400"
                        id="thumbnailvideo" name="thumbnailvideo" multiple accept="image/* .jpg" onchange="previewthumbnailvideo(this, 'previewthumbnail')">
                </div>
                <div class="mb-5">
                    <div class="flex">
                        <div class="flex items-center h-5">
                            <input id="helper-checkbox" aria-describedby="helper-checkbox-text" type="checkbox" id="published" name="published"
                             class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        </div>
                        <div class="ms-2 text-sm">
                            <label for="helper-checkbox" class="font-medium text-gray-900 dark:text-gray-300">เผยแพร่วีดีโอตอนนี้</label>
                            <p id="helper-checkbox-text" class="text-xs font-normal text-gray-500 dark:text-gray-300">หากคุณยังไม่ได้เผยแพร่ คุณไม่ต้องติ้งช่องนี้ หากคุณต้องการเผยแพร่เลยให้ติ้งไว้</p>
                        </div>
                    </div>
                </div>
                <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    ส่งวีดีโอ</button>
            </form>

            <div id="progressPopup" style="display: none;">
                <h2>กำลังอัปโหลดวีดีโอแล้ว...</h2>
                <span id="progressPercent">0%</span>
                <div id="progressBarContainer">
                    <div id="progressBar"></div>
                </div>
                <p>เรากำลังตรวสอบวีดีโอ โปรดรอสักครู่....... สัก 5 นาที หากขนาดไฟล์วีดีโอใหญ่อาจนานกว่าปกติ</p>
                <p>คุณสามารถเปิดหน้านี้ทิ้งไว้แล้วรอได้ครับ</p>
            </div>
            
            <div id="succeed" style="display: none;">
                <h2>อัปโหลดแล้ว</h2>
                <p>ส่งที่ทำต่อไปนี้คุณสามารถกดไปที่กลับหน้าหลักได้</p>
                <button><a href="/">กลับหน้าหลัก</a></button>
            </div>
            
        </div>
        <div class="w-full md:w-1/3 bg-white p-4 rounded shadow-md overflow-x-hidden mb-5">
            <h3>ตัวอย่างเนื้อหา</h3>
            <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                <a href="#">
                    <img class="w-full h-[190px] object-cover" id="previewthumbnail" src="" alt="Video Image">
                    <div class="p-6">
                        <h2 class="text-2xl font-bold mb-2 text-gray-800" id="nameVideotext-test">Name Video</h2>
                        <p class="text-gray-600 text-sm mb-4" id="dec_demo"></p>
                        <div class="flex items-center">
                            <img class="w-10 h-10 rounded-full mr-4" src="/profiles/Profile-PNG-Images-defaullt.png"
                                alt="Author Image">
                            <div class="text-sm">
                                <p class="text-gray-900 leading-none"><a href="#">Name Editor</a></p>
                                <p class="text-gray-600"></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div><hr class="mb-5 mt-5">
            <h3>ตัวอย่างวีดีโอ</h3>
            <div class="previewsvideos">
                <div class="video_player">
                    <video class="w-[200px] main-video" id="previewVideo" src="" controls></video>
                </div>
            </div>
        </div>
    </section>
</div>
    <%- include('../../../footer') %>

    <script src="/js/pages/uploads/video.js"></script>
    <script>
        function previewthumbnailvideo(input) {
            var preview = document.getElementById('previewthumbnail');
            var file = input.files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
                preview.style.display = 'block';
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
                preview.style.display = 'none';
            }
        }

        function changeTextvideo(event) {
    const TextVideo_name = document.getElementById("nameVideotext-test");
    TextVideo_name.textContent = event.target.value;
}
        function changedec_video(event) {
    const TextVideohangedec_video = document.getElementById("dec_demo");
    TextVideohangedec_video.textContent = event.target.value;
}

document.getElementById('namevideo').addEventListener('input', changeTextvideo);
document.getElementById('dec_video').addEventListener('input', changedec_video);

                </script>
</body>
</html>


