<a style="margin: 10px;" href="/edit/anime/boards">แก้ไขสื่ออนิเมะ</a>
<a style="margin: 10px;" href="/admin/createAnime/may">เพิ่มเดือนพฤษภาคม</a>
<a style="margin: 10px;" href="/admin/createAnime/June">เพิ่มเดือนมิถุนายน</a>
<a style="margin: 10px;" href="/admin/createAnime/July">เพิ่มเดือนกรกฎาคม</a>
<a style="margin: 10px;" href="/admin/createAnime/August">เพิ่มเดือนสิงหาคม</a>
<a style="margin: 10px;" href="/admin/createAnime/October">เพิ่มเดือนตุลาคม</a>