<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เข้าสู่ระบบ</title>
    <link rel="stylesheet" href="./css/acticle.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/font/font1.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="./css/sidebar.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <meta name="keywords" content="ข้าสู่ระบบ">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/df26bd9708.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body>
    <section class="login mx-auto px-4 xl:max-w-7xl pt-[130px]" id="login">
        <div class="container-login bg-white px-6 md:px-12 py-8 md:py-12 mt-8 shadow-sm rela">
            <form action="/login" method="POST">
                <h2 class="text-3xl mb-6 border-l-4 border-sky-600 px-5 text-gray-600">เข้าสู่ระบบ</h2>
                <label for="username">อีเมล:</label>
                <input type="email" name="email" required>

                <label for="password">รหัสผ่าน:</label>
                <input class="mb-2" type="password" id="password" name="password" required>

                <button class="btn-login" type="submit">เข้าสู่ระบบ</button>

                <div class="flex justify-between pt-[20px]">
                    <p class="text_login">ลืมรหัสผ่านใช่ไหม !</p>
                    <p><a href="/forgot-password">ลืมรหัสผ่าน</a></p>
                </div>
                <div class="reg">
                    <p class="pt-[10px] flex justify-between">ยังไม่มีบัญชีใช่ไหม กดสมัครเลย: <span><a href="/singup"
                                class="text-1xl">สมัครสมาชิค</a></span></p>
                </div>
            </form>

            <!-- <div class="tiktok-login">
                <a href="/auth/tiktok">
                    <button class="login_button">
                        <img src="/images/logo/tiktok_logo.webp" alt="">
                        <div class="login_text" style="display: flex; flex-direction: column;">
                            หรือเข้าสู่ระบบผ่าน TikTok
                        </div>
                    </button>
                </a>
            </div> -->

            <div class="google-login">
                <a href="/auth/google">
                    <button class="login_button">
                        <img src="/images/logo/google_logo.png" alt="">
                        <div class="login_text">
                            หรือเข้าสู่ระบบผ่าน Google
                        </div>
                    </button>
                </a>
            </div>
        </div>
    </section>


    <!-- ===========================================================================================
              POPUP
            ======================================================================================== -->

    <div class="popup-container" style="display: none;">
        <div class="popup-content">
            <div class="popup-header">
                <h2>แจ้วเตือน</h2>
                <div class="btn_close">
                    <i class="material-symbols-outlined">
                        close
                    </i>
                </div>
                <div class="main-content">

                   
                </div>
            </div>
        </div>
    </div>


    <script src="../js/sidebar.js"></script>
        <!-- <script src="../js/search.js"></script> -->
        <script>
            window.addEventListener('scroll', function () {
                var navbar = document.getElementById('navbar');
                if (window.scrollY > 50) {
                    navbar.classList.add('navbar-white-bg');
                } else {
                    navbar.classList.remove('navbar-white-bg');
                }
            }); 

        </script>
         <% if (typeof alertMessage !=='undefined' && alertMessage ) { %>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    Swal.fire({
                        icon: 'warning',
                        title: '<%= alertMessage %>',
                    });
                });
            </script>
            <% } %>
</body>

</html>