<!-- views/resetPasswordSuccess.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Success</title>
    <link rel="stylesheet" href="/css/pages/home_Section.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>
<body>
    <% include('../../navnar_Header') %>
    <% include('../../sidebar_Section') %>
    <section class="content">
        <div class="reset_password_success">
            <h2>รหัสผ่านของคุณถูกเปลี่ยนแล้ว</h2>
            <p>คุณสามารถเข้าสู่ระบบด้วยรหัสผ่านใหม่ของคุณได้</p>
        </div>
    </section>

    <script src="./js/pages/script_Section.js"></script>
</body>
</html>
