<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>สมัครสมาชิค</title>
    <link rel="stylesheet" href="./css/acticle.css">
    <link rel="stylesheet" href="./css/signup.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/font/font1.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <meta name="keywords" content="บทความอนิเมะ ข่าวบันเท้ง 2024 login เข้าสู่ระบบ">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>

<body>
    <%- include('../../navnar_Header') %>
    <%- include('../../sidebar_Section') %>
        <!-- Sigup Popup -->
<div id="login-popup" class="fixed inset-0 flex pt-20 items-center justify-center modal-bg">
    <div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full">
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-2xl font-bold">สมัครสมาชิค</h2>
        </div>
        <form id="login-form">
            <div class="flex justify-center mb-4">
                <button type="button" id="phone-tab"
                    class="text-sm pr-2 font-medium text-gray-700 border-b-2 border-blue-500 pb-1">เบอร์โทรศัพท์</button>
                <button type="button" id="account-tab" class="text-sm font-medium text-gray-700 pb-1">ใช้อีเมล</button>
            </div>
            <div id="phone-login">
                <form action="" method="post">
                    <div class="mb-4">
                        <label for="phone" class="block text-sm font-medium text-gray-700">เบอร์โทรศัพท์</label>
                        <div class="flex">
                            <select id="country-code" class="border border-gray-300 rounded-l-md shadow-sm p-2">
                                <option value="TH">TH +66</option>
                                <!-- Add other country codes here -->
                            </select>
                            <input type="text" id="phone"
                                class="cursor-no-drop outline-none block w-full border border-gray-300 bg-gray-100 rounded-r-md shadow-sm p-2"
                                placeholder="หมายเลขโทรศัพท์มือถือ" readonly>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="otp" class="block text-sm font-medium text-gray-700">ใส่รหัสยืนยัน</label>
                        <input type="text" id="otp"
                            class="cursor-no-drop mt-1 block w-full border border-gray-300 rounded-md shadow-sm bg-gray-100 p-2 outline-none"
                            placeholder="รหัสยืนยัน" readonly>
                    </div>
                    <button type="button"
                        class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-700 mb-5">ส่งรหัสยืนยัน</button>
                    <button type="submit"
                        class="cursor-no-drop bg-blue-500 text-white py-2 px-4 w-full rounded-md hover:bg-blue-700 readonly">เข้าสู่ระบบ</button>
                </form>
                <div class="flex items-center mb-4 mt-4">
                    <input type="checkbox" id="remember" class="custom-checkbox  mr-2" required>
                    <label for="remember" class="text-sm text-gray-700">ยอมรับเงื่อนไขการเข้าสู่ระบบของเราใช้ไหมครับ <a
                            href="https://ani-night.online/privacy" target="_blank"
                            rel="noopener noreferrer">อ่านนโบบาย</a></label>
                </div>
                <p class="mt-4 text-xs text-gray-500">
                    เนื่องจากระบบการเข้าสู่ระบบด้วย "เบอร์โทรศัพท์" ยังอยู่ระหว่างพัฒนาเลยใช้ไม่ได้ โปรดใช้อีเมลแทน
                    คลิกที่แถบอีเมล
                </p>
            </div>
            <!-- Sigup Email -->
            <div id="account-login" class="hidden">
                <form action="/auth/singup" method="post">
                    <div class="mb-4">
                        <label for="email" class="block text-sm font-medium text-gray-700">อีเมล</label>
                        <input type="email" id="email" name="email"
                            class="outline-none mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2"
                            required>
                    </div>
                    <div class="mb-4">
                        <label for="username" class="block text-sm font-medium text-gray-700">ชื่อช่อง</label>
                        <input type="text" id="username" name="username"
                            class="outline-none mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2"
                            required>
                    <div class="mb-4">
                        <label for="password" class="block text-sm font-medium text-gray-700">รหัสผ่าน</label>
                        <input type="password" id="password" name="password"
                            class="outline-none mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2"
                            required>
                    </div>
                    <button type="submit"
                        class="bg-blue-500 text-white py-2 px-4 w-full rounded-md hover:bg-blue-700">สมัครสมาชิค</button>
                </form>
                <div class="flex items-center mb-4 mt-4">
                    <input type="checkbox" id="remember" class="custom-checkbox  mr-2" required>
                    <label for="remember" class="text-sm text-gray-700">ยอมรับเงื่อนไขการเข้าสู่ระบบของเราใช้ไหมครับ <a
                            href="https://ani-night.online/privacy" target="_blank"
                            rel="noopener noreferrer">อ่านนโบบาย</a></label>
                </div>
            </div>
            
            <!-- Footer -->
            <div class="flex justify-end">
                <p class="pt-[10px] flex justify-between">มีบัญชีแล้ว: <span><a href="/login"
                            class="text-1xl">เข้าสู่ระบบ</a></span></p>
            </div>
            <p class="mt-4 text-xs text-gray-500">
                เนื่องจากระบบการเข้าสู่ระบบด้วย "เบอร์โทรศัพท์" ยังอยู่ระหว่างพัฒนาเลยใช้ไม่ได้ โปรดใช้อีเมลแทน
                คลิกที่แถบอีเมล
            </p>
        </form>
    </div>
</div>
    <!-- <section class="signup mx-auto px-4 xl:max-w-7xl pt-[130px]" id="signup">
        <div class="container-singup bg-white px-6 md:px-12 py-8 md:py-12 mt-8 shadow-sm rela">
            <form class="form_signup" action="/auth/singup" method="post">
                <h2 class="text-3xl mb-6 border-l-4 border-sky-600 px-5 text-gray-600">สมัครสมาชิค</h2>
                <label for="username">ตั้งชื่อช่องของคุณ:</label>
                <input type="text" id="username" name="username"
                    placeholder="ตั้งแล้วจะไม่สามารถแก้ไขได้หรือเปลี่ยนแปลงได้" required>

                <label for="email">อีเมล:</label>
                <input type="email" id="email" name="email" placeholder="กรุณาใส่อีเมล" required>

                <label for="password">รหัสผ่าน:</label>
                <input type="password" id="password" name="password" placeholder="กรุณาตั้งรหัสผ่านอย่างน้อย 8 - 32 ตัว"
                    required>

                <button class="btn-singup" type="submit">สมัคร</button>

                <p class="pt-[10px] flex justify-between">มีบัญชีแล้ว: <span><a class="text-sky-400" href="/login">เข้าสู่ระบบ</a></span></p>
            </form>
        </div> 
    </section> -->

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const loginPopup = document.getElementById('login-popup');
            // const closePopupButton = document.getElementById('close-popup');
            const phoneTab = document.getElementById('phone-tab');
            const accountTab = document.getElementById('account-tab');
            const phoneLogin = document.getElementById('phone-login');
            const accountLogin = document.getElementById('account-login');
    
            // closePopupButton.addEventListener('click', function() {
            //     loginPopup.classList.add('hidden');
            // });
    
            phoneTab.addEventListener('click', function() {
                phoneTab.classList.add('border-b-2','border-blue-500', 'pb-1');
                accountTab.classList.remove('border-b-2','border-blue-500', 'pb-1');
                phoneLogin.classList.remove('hidden');
                accountLogin.classList.add('hidden');
            });
    
            accountTab.addEventListener('click', function() {
                accountTab.classList.add('border-b-2','border-blue-500', 'pb-1');
                phoneTab.classList.remove('border-b-2','border-blue-500', 'pb-1');
                accountLogin.classList.remove('hidden');
                phoneLogin.classList.add('hidden');
            });
    
            document.getElementById('login-form').addEventListener('submit', function(event) {
                event.preventDefault();
                // Implement login logic here
                alert('Login form submitted');
            });
        });
    
        
    </script>
    <% if (alertMessage) { %>
        <script>
            Swal.fire({
                icon: 'success',
                title: 'สมัครสมาชิกเรียบร้อย',
                text: '<%= alertMessage %>'
            });
        </script>
     <% } %>

            <% if (alertMessageerror) { %>
                <script>
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดข้อผิดพลาดในการสมัครสมาชิก',
                        text: '<%= alertMessageerror %>'
                    });
                </script>
                <% } %>
                    <script>
                        window.addEventListener('scroll', function () {
                            var navbar = document.getElementById('navbar');
                            if (window.scrollY > 50) {
                                navbar.classList.add('navbar-white-bg');
                            } else {
                                navbar.classList.remove('navbar-white-bg');
                            }
                        });

                    </script>
</body>

</html>